<!-- 侧边栏 -->
<div class="aside">
    <!-- 个人资料 -->
    <div class="profile" id="personal">
        <!-- 头像 -->
        <!-- <img src="./../../public//uploads/" alt=""> -->
    </div>
    <!-- 导航菜单 -->
    <div class="navs">
        
    </div>
</div>

<script src="./js/jquery.js"></script>
<script>
    $(function () { 
        // 1.获取本地token数据
        let token = JSON.parse(localStorage.getItem("result")).result.token;
        // 2. 发起请求
        $.ajax({
            url: "/back/user/api/u_msg/" + token,
            type: "get",
            dataType: "json",
            success: function(data){
                // 注入数据
                console.log(data.result.icon_url);
                console.log(data.status);
                let tpl = ``;
                if(data.status === 200){
                    tpl = `
                    <div class="avatar img-circle">
                        <img src="/uploads/${data.result.icon_url}"/>
                    </div>
                    <h4>${data.result.real_name}</h4>
                    `
                }
                $("#personal").html(tpl);
            }
        })

        // 3.处理点击选中
        let cuurent = sessionStorage.getItem("currentActive") || "one";
        let cuurentUser = sessionStorage.getItem("currentUser");
        let tpl = `
        <ul class="list-unstyled" id="nav-list">
            <li>
                <a href="/back" tag="one" class="${cuurent === 'one' ? 'active': ''}">
                    <i class="fa fa-area-chart"></i>
                    首页
                </a>
            </li>
            <li>
                <a href="/back/source_list" tag="two" class="${cuurent === 'two' ? 'active': ''}">
                    <i class="fa fa-bars"></i>
                    幼教资源管理
                </a>
            </li>
            <li>
                <a href="/back/s_list" tag="three" class="${cuurent === 'three' ? 'active': ''}">
                    <i class="fa fa-calculator"></i>
                    轮播图管理
                </a>
            </li>

            <li>
                <a tag="four" class="${cuurent === 'four' ? 'active': ''}">
                    <i class="fa fa-object-group"></i>
                    用户管理
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled" id="user-nav" style="display: block;">
                    <li>
                        <a tag="four-one" href="/back/u_center" class="${cuurentUser === 'four-one' ? 'active': ''}">
                            用户中心
                        </a>
                    </li>
                    <li>
                        <a tag="four-two" href="/back/u_set" class="${cuurentUser === 'four-two' ? 'active': ''}">
                            用户信息
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        `;
        $(".navs").html(tpl);
        $("#nav-list>li>a").on("click", function(){
            sessionStorage.removeItem("currentUser");
            let current = $(this).attr("tag");
            sessionStorage.setItem("currentActive", current);
        });

        $("#user-nav>li>a").on("click", function(){
            sessionStorage.removeItem("currentActive");
            let currentUser = $(this).attr("tag");
            sessionStorage.setItem("currentUser", currentUser);
        })

    });
</script>