<!-- 继承base.html的基础样式 -->
{% extends "back/base.html" %}
<!-- 要新增的样式 -->
{% block style %}
{% endblock %}

<!-- 主要内容 -->
{% block body %}
<div class="container-fluid">
    <div class="body advert">
        <ol class="breadcrumb">
            <li><a href="/back/source_list">资源管理</a></li>
            <li class="active">资源管理列表</li>
        </ol>
        <div class="page-title">
            <a href="/back/source_add" class="btn btn-danger btn-sm pull-right">添加文章</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="" class="form-inline">
                    <select name="" class="form-control input-sm">
                        <option value="">按课程</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按学科</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按热度</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按日期</option>
                    </select>
                    <button class="btn btn-primary btn-sm">排序</button>
                </form>
            </div>
            {% if sources.length > 0 %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>序号</td>
                        <th>文章标题</th>
                        <th>缩略图</th>
                        <th>收藏</th>
                        <th>价格</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for source in sources %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ source.title }}</td>
                        <td>
                            <img src="/uploads/{{source.small_img}}" style="width: 50px; margin: 0 auto;">
                        </td>
                        <td>{{ source.is_store }}</td>
                        <td>{{ source.price }}</td>
                        <td>{{ source.author }}</td>
                        <td>
                            <a data-id="{{source._id}}" href="javascript:;" class="btn btn-primary btn-xs s-edit">编辑</a>
                            <a data-id="{{source._id}}" href="javascript:;" class="btn btn-danger btn-xs s-del">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div style="padding-bottom: 40px;">
                    <h3 style="color: red; text-align: center;">内容为空，快去添加点东西吧！</h3>
                </div>
            {% endif %}
        </div>
        <!-- 分页 -->
        <ul class="pagination pull-right">
            <li><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </div>
</div>
{% endblock %}

<!-- 要新增的脚本 -->
{% block script %}
<script>
    $(function () {
        // 1.点击编辑按钮
        $('.btn-edit').on('click', function () {
            let sowingId = $(this).attr('data-id');
            // 传递id
            window.location.href = `/back/s_edit?sid=${sowingId}`;
        });

        // 2.点击删除按钮
        $('.btn-del').on('click', function () {
            let sowingId = $(this).attr('data-id');
            $.ajax({
                url: 'http://localhost:3000/back/sowing/api/remove/' + sowingId,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.status === 200) {
                        alert('轮播图删除成功！');
                    } else {
                        alert('轮播图删除失败！');
                    }
                    window.location.reload();
                }
            });
        });

        // 3.点击编辑
        $(".s-edit").on('click', function(){
            // alert('你点击了编辑按钮！');
            let sourceId = $(this).attr('data-id');
            window.location.href = `/back/source_edit?sid=${sourceId}`;
            // return false;
        });

        // 4.点击删除
        $(".s-del").on('click', function(){
            // alert('你点击了删除按钮！');
            // 4.0 获取sourceId
            let sourceId = $(this).attr('data-id');
            // 4.1 发起删除请求
            $.get('/back/source/api/remove/'+ sourceId, (data) => {
                console.log(data);
                if(data.status === 200){
                    alert('删除资源文章成功！');
                    // 4.2 页面重新加载
                    window.location.reload();
                } else{
                    alert('删除资源文章失败！');
                }
            })
            // return false;
        });
    })
</script>
{% endblock %}