<!-- 继承base.html的基础样式 -->
{% extends "back/base.html" %}
<!-- 要新增的样式 -->
{% block style %}
{% endblock %}

<!-- 主要内容 -->
{% block body %}
<div class="container-fluid">
    <div class="body advert">
        <ol class="breadcrumb">
            <li><a href="/back/s_list">轮播图管理</a></li>
            <li class="active">轮播图管理列表</li>
        </ol>
        <div class="page-title">
            <a href="/back/s_add" class="btn btn-danger btn-sm pull-right">添加模块</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="" class="form-inline">
                    <select name="" class="form-control input-sm">
                        <option value="">按课程</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按学科</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按热度</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按日期</option>
                    </select>
                    <button class="btn btn-primary btn-sm">排序</button>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>序号</td>
                        <th>模块名称</th>
                        <th>模块类型</th>
                        <th>上架时间</th>
                        <th>下架时间</th>
                        <th>访问次数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sowing in sowings %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ sowing.image_title }}</td>
                        <td>
                            <img src="/uploads/{{sowing.image_url}}" style="width: 200px; margin: 0 auto;">
                        </td>
                        <td>{{ sowing.image_link }}</td>
                        <td>{{ sowing.s_time }}</td>
                        <td>{{ sowing.e_time }}</td>
                        <td>
                            <a data-id="{{sowing._id}}" href="javascript:;"
                                class="btn btn-primary btn-xs btn-edit">编辑</a>
                            <a data-id="{{sowing._id}}" href="javascript:;" class="btn btn-danger btn-xs btn-del">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <ul class="pagination pull-right">
            <li><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </div>
</div>
{% endblock %}

<!-- 要新增的脚本 -->
{% block script %}
<script>
    $(function () {
        // 1.点击编辑按钮
        $('.btn-edit').on('click', function () {
            let sowingId = $(this).attr('data-id');
            // 传递id
            window.location.href = `/back/s_edit?sid=${sowingId}`;
        });

        // 2.点击删除按钮
        $('.btn-del').on('click', function () {
            let sowingId = $(this).attr('data-id');
            $.ajax({
                url: 'http://localhost:3000/back/sowing/api/remove/' + sowingId,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.status === 200) {
                        alert('轮播图删除成功！');
                    } else {
                        alert('轮播图删除失败！');
                    }
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //查看错误信息
                    console.log(XMLHttpRequest.status);
                    console.log(XMLHttpRequest.readyState);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        });
    })
</script>
{% endblock %}